---
---

$header-height: 5vh;
$footer-height: 2vh;
$nav-width: 7vh;
$nav-width-open: 20vh;
$nav-selected-border-width: .5vh;

$nav-padding: 1vh;
$nav-open-transition: 300ms;
$nav-close-transition: 700ms;

$content-padding: 5vh 10vh;

$header-color: gray;
$footer-color: $header-color;
$nav-color: darkgray;
$page-color: lightgray;
$content-color: white;

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: table;
}

header {
    display: table-row;
    height: $header-height;
    background-color: $header-color;
}

#center {
    display: table-row;
    height: auto;
    background-color: $page-color;
}

footer {
    display: table-row;
    height: $footer-height;
    background-color: $footer-color;
}

#center-content {
    position: relative;
    width: 100%;
    height: 100%;
    padding: $content-padding;
    box-sizing: border-box;
    background-color: $content-color;
}

nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-color: $nav-color;

    transition: $nav-close-transition;
    width: $nav-width;
}

nav:hover {
    transition: $nav-open-transition;
    width: $nav-width-open;
}

nav > a {
    transition: $nav-open-transition;
    height: $nav-width;
    display: block;
    white-space: nowrap;
}

nav > a:not(:hover) {
    transition: $nav-close-transition;
    background-color: inherit !important;
}

.nav-img-holder {
    height: $nav-width;
    width: $nav-width;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.nav-img-holder > img {
    height: 100%;
}

#content {
    margin-left: $nav-width;
}
