<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }} - Ben Woodworth</title>
        <link rel="stylesheet" href="/css/site.css">
    </head>

    <body>
        <header>
            Ben Woodworth
        </header>
        <div id="center">
            <div id="center-content">
                <nav>
                    {% for page in site.navigation %}
                        <a href="{{ page.url }}" style="background-color: {{ page.color }}; border-color: {{ page.color }};">
                            <div class="nav-img-holder"><img src="/img/nav/{{ page.image }}" alt="{{ page.title }}"></div>
                            {{ page.title }}
                        </a>
                    {% endfor %}
                </nav>
                <div id="content">
                    {{ content }}
                </div>
            </div>
        </div>
        <footer>
            &copy; {{ site.time | date: '%Y' }} - Ben Woodworth
        </footer>
    </body>
</html>
